*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about_main_conatiner{
    position: fixed;
    margin-left: 107px;
    margin-top: -20px;
    width: 93vw;
    height: 100vh;
    background: linear-gradient(0deg , rgb(0, 0, 0) , rgb(47, 46, 46));
    color: white;
}

.about_container{
    margin-left: 15%;
}

.about_title{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.my_para{
    padding-top: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    letter-spacing: 1px;
}

.block{
    position: absolute;
    margin: 10% auto 0;
    height: 500px;
    width: 60%;
    background: linear-gradient(0deg , rgb(0, 0, 0) , rgb(48, 32, 32));
    border-radius: 10px;

}

.glow::before ,.glow::after{
    content:'';
    position: absolute;
    left: 5px;
    top: 5px;
    background: linear-gradient(45deg ,orange , white , green , orange , white , green ,orange , white , green);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 30s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0 ;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}