*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back_ground_container{
  display: flex;
}
.back_color{
  background-color: black;
  width: 35vw;
  height: 100vh;
}

.nav_bar{
  display: flex;
  flex-direction: column;  
}

span{
  color: aliceblue;
  padding: 20px;
  padding-top: 40px;
  margin-top: 40px;
}