.edu_main_container{
    color:white;
    position: absolute;
    margin-left: 107px;
    height: 100vh;
    margin-top: -20px;
    width: 1409px;
    background: linear-gradient(0deg , rgb(0, 0, 0) , rgb(47, 46, 46));
}

.edu_container{
    text-align: center;
    margin-top: 50px;
}

.edu_title {
    font-size: 40px;
}

.edu_detail , .college_detail , .hhsc_detail , .sslc_detail{
    display: flex;
    margin-left: 200px;
    padding-top: 60px;
    text-align: center;
}

.pre_tech , .college_name , .scl_name , .sslc_sch_name{
    margin-left: 400px;
    text-align: center;
}