*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_port_container{
    position: absolute;
    margin-left: 107px;
    width: 1409px;
    background: linear-gradient(0deg , rgb(0, 0, 0) , rgb(47, 46, 46));
    height: 100vh;
    margin-top: -20px;
}

.grid_continer{
    margin-top: 40px;
    margin-left: 90px ;
    width: 75%;
    display: grid;
    grid-template-rows: 150px 200px 60px ;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.grid_container1 , .grid_container2 , .grid_container3 , .grid_container5 , .grid_container6 , .grid_container7 {
    width: 350px;
    border: 1px solid white;
    height: 170px;
    cursor: pointer;
}

.grid_container4{
    grid-column: 1/-1;
    height: 200px;
    border: 1px solid white;
    cursor: pointer;
}